@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root{
  --purple-color: #5211ba;
  --text-color: whitesmoke;
  --lighter-purple: #6e33d6;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}